<div class="wrapper">
    <div class="container-fluid">
        <!-- Page-Title -->
        <div class="page-title-box">
            <div class="row align-items-center">
                <div class="col-sm-6">
                    <h4 class="page-title">Company Departments</h4>
                </div>
                <div class="col-sm-6">
                    <ol class="breadcrumb float-right">
                        <li class="breadcrumb-item"><a href="javascript:void(0);">Home</a></li>
                        <li class="breadcrumb-item active">Users</li>
                    </ol>
                </div>
            </div>
            <!-- end row -->
        </div>


        <!-- START ROW -->
        <div class="row">
            <div class="col-xl-12">
                <div class="card m-b-30">
                    <div class="card-body">
                        <h4 class="mt-0 header-title mb-4">Dep list <button type="button"
                                class="btn btn-info waves-effect waves-light"> + ADD</button></h4>
                        <div class="table-responsive">
                            <table class="table table-hover">
                                <thead>
                                    <tr>
                                        <th scope="col">Dep name</th>
                                        <th scope="col" colspan="2">Unit</th>



                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td>Administration</td>
                                        <td>Livith S.p.A., Padova</td>


                                        <td>
                                            <div>
                                                <button type="button" class="btn btn-primary waves-effect waves-light"
                                                    data-toggle="modal" data-target="#myModal">Edit</button>
                                                <button type="button"
                                                    class="btn btn-danger waves-effect waves-light">Remove</button>
                                            </div>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>Marketing</td>
                                        <td>Livith S.p.A., Montespertoli</td>


                                        <td>
                                            <div>
                                                <button type="button" class="btn btn-primary waves-effect waves-light"
                                                    data-toggle="modal" data-target="#myModal">Edit</button>
                                                <button type="button"
                                                    class="btn btn-danger waves-effect waves-light">Remove</button>
                                            </div>
                                        </td>
                                    </tr>



                                </tbody>
                            </table>
                        </div>

                    </div>
                </div>
            </div>

        </div>
        <!-- END ROW -->

    </div>
    <!-- end container-fluid -->
</div>
<!-- end wrapper -->

<!-- sample modal content -->
<div id="myModal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title mt-0" id="myModalLabel">Edit</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">

                <p>Dep name:: <input class="form-control" type="text" value="name" id="example-text-input"></p>
                <p>Unit: <select class="form-control">
                        <option>Select</option>
                        <option>Livith Padova</option>
                        <option>Livith Montespertoli</option>
                    </select></p>

            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary waves-effect" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary waves-effect waves-light">Save changes</button>
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->

<div id="addModal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title mt-0" id="myModalLabel">Add</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">

                <p>Dep name:: <input class="form-control" type="text" value="name" id="example-text-input"></p>
                <p>Unit: <select class="form-control">
                        <option>Select</option>
                        <option>Livith Padova</option>
                        <option>Livith Montespertoli</option>
                    </select></p>

                    




            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary waves-effect" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary waves-effect waves-light">Save changes</button>
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->

<!-- Footer -->
<footer class="footer">
    © 2019 - 2020 L.C.M. Live Company Mood <span class="d-none d-sm-inline-block"> - Crafted with <i
            class="mdi mdi-heart text-danger"></i> by Connecta</span>.
</footer>