<div class="wrapper">
    <div class="container-fluid">
        <!-- Page-Title -->
        <div class="page-title-box">
            <div class="row align-items-center">
                <div class="col-sm-6">
                    <h4 class="page-title">Dashboard</h4>
                </div>
                <div class="col-sm-6">
                    <ol class="breadcrumb float-right">
                        <li class="breadcrumb-item"><a href="javascript:void(0);">Company survey</a></li>
                        <li class="breadcrumb-item active">Dashboard</li>
                    </ol>
                </div>
            </div>
            <!-- end row -->
        </div>

        <div class="row">

            <div class="col-sm-6 col-xl-3">
                <div class="card">
                    <div class="card-heading p-4">
                        <div class="mini-stat-icon float-right">
                            <i class="mdi mdi-cube-outline bg-primary  text-white"></i>
                        </div>
                        <div>
                            <h5 class="font-16">Ongoing Surveys</h5>
                        </div>
                        <h3 class="mt-4">23</h3>
                        <div class="progress mt-4" style="height: 4px;">
                            <div class="progress-bar bg-primary" role="progressbar" style="width: 75%"
                                aria-valuenow="75" aria-valuemin="0" aria-valuemax="100"></div>
                        </div>
                        <p class="text-muted mt-2 mb-0">Completed<span class="float-right">75%</span></p>
                    </div>
                </div>
            </div>

            <div class="col-sm-6 col-xl-3">
                <div class="card">
                    <div class="card-heading p-4">
                        <div class="mini-stat-icon float-right">
                            <i class="mdi mdi-briefcase-check bg-success text-white"></i>
                        </div>
                        <div>
                            <h5 class="font-16">Total Users Active</h5>
                        </div>
                        <h3 class="mt-4">34</h3>
                        <div class="progress mt-4" style="height: 4px;">
                            <div class="progress-bar bg-success" role="progressbar" style="width: 98%"
                                aria-valuenow="88" aria-valuemin="0" aria-valuemax="100"></div>
                        </div>
                        <p class="text-muted mt-2 mb-0">Active<span class="float-right">98%</span></p>
                    </div>
                </div>
            </div>



            <div class="col-sm-6 col-xl-3">
                <div class="card">
                    <div class="card-heading p-4">
                        <div class="mini-stat-icon float-right">
                            <i class="mdi mdi-buffer bg-danger text-white"></i>
                        </div>
                        <div>
                            <h5 class="font-16">Total satisfaction</h5>
                        </div>
                        <h3 class="mt-4">86%</h3>
                        <div class="progress mt-4" style="height: 4px;">
                            <div class="progress-bar bg-danger" role="progressbar" style="width: 82%"
                                aria-valuenow="82" aria-valuemin="0" aria-valuemax="100"></div>
                        </div>
                        <p class="text-muted mt-2 mb-0">Previous period<span class="float-right">82%</span></p>
                    </div>
                </div>
            </div>

        </div>



        <div class="row">



            <div class="col-xl-4">
                <div class="card m-b-30">
                    <div class="card-body">

                        <h4 class="mt-0 header-title mb-4">Recent Activity</h4>
                        <ol class="activity-feed mb-0">
                            <li class="feed-item">
                                <div class="feed-item-list">
                                    <p class="text-muted mb-1">Now</p>
                                    <p class="font-15 mt-0 mb-0">User1: <b class="text-primary">Completed survey
                                            A1b3</b></p>
                                </div>
                            </li>
                            <li class="feed-item">
                                <p class="text-muted mb-1">Yesterday</p>
                                <p class="font-15 mt-0 mb-0">User1: <b class="text-primary">begin surveyA1b3</b></p>
                            </li>


                        </ol>

                    </div>
                </div>
            </div>
        </div>


        <div class="row">

            <div class="col-xl-12">
                <div class="card m-b-30">
                    <div class="card-body">

                        <h4 class="mt-0 header-title">Line Chart</h4>
                        <p class="sub-title m-b-30 d-inline-block text-truncate w-100">The public API is terribly simple. It's
                            just one function: Morris.Line (options), where options is an object
                            containing some of the configuration options.</p>

                        <ul class="list-inline widget-chart m-t-20 m-b-15 text-center">
                            <li class="list-inline-item">
                                <h5>18 Settembre 2019</h5>
                                <p class="text-muted">Survey 1</p>
                            </li>
                            <li class="list-inline-item">
                                <h5>10 Gennao 2020</h5>
                                <p class="text-muted">Survey 2</p>
                            </li>
                            <li class="list-inline-item">
                                <h5>7 Giugno  2020</h5>
                                <p class="text-muted">Survey 3</p>
                            </li>
                        </ul>

                        <div id="morris-line-example" class="morris-charts" style="height: 300px"></div>

                    </div>
                </div>
            </div> <!-- end col -->

        </div>

        

    </div>
    <!-- end container-fluid -->
</div>
<!-- end wrapper -->

<!-- Footer -->
<footer class="footer">
    © 2019 - 2020 L.C.M. Live Company Mood <span class="d-none d-sm-inline-block"> - Crafted with <i
            class="mdi mdi-heart text-danger"></i> by Connecta</span>.
</footer>